@model IEnumerable<WebApplication2.Models.Track>

@{
    ViewData["Title"] = "Index";
}

<h1>Tracks</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Length)</th>
            <th>@Html.DisplayNameFor(model => model.IsSong)</th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Lyrics)</th>
            <th>Main Guest</th>
            <th>Second Guest</th>
            <th>@Html.DisplayNameFor(model => model.Language)</th>
            <th>@Html.DisplayNameFor(model => model.Scale)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lyrics)
            </td>
            <td>
                @(item.MainGuest?.Name ?? "-")
            </td>
            <td>
                @(item.SecondGuest?.Name ?? "-")
            </td>
            <td>
                @(item.Language?.LanguageName ?? "-")
            </td>
            <td>
                @(item.Scale?.Name ?? "-")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrackID" class="btn btn-sm btn-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.TrackID" class="btn btn-sm btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.TrackID" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
