@model IEnumerable<WebApplication2.Models.Performer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.PerformerType) *@
                <h3>Performer Type</h3>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Name) *@
                <h3>Name</h3>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Description) *@
                <h3>Description</h3>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.MainGenre) *@
                <h3>Main Genre</h3>
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.SecondaryGenre) *@
                <h3>Secondary Genre</h3>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PerformerType.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainGenre.GenreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryGenre.GenreName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PerformerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PerformerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PerformerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
